<ion-header [translucent]="true"
            color="primary">
    <ion-toolbar>
        <ion-title>Blank </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>
    <div id="container">
        <ion-button href="capacitor-navigation"
                    color="primary">Navigation Capacitor</ion-button>
        <ion-button href="cordova-navigation"
                    color="secondary">Navigation Cordova</ion-button>
    </div>
</ion-content>